* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-image: url("./assets/images/blobs.png"), url("./assets/images/blobs2.png");
  background-repeat: no-repeat, no-repeat;
  background-position: right top, left bottom;
  font-family: Karia;
  background-color: #F5F7FB;
  background-size: 15%;
}

.intro {
  text-align: center;
  color: #293264;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro h3 {
  font-weight: 700;
  letter-spacing: 5px;
  font-size: 31px;
  height: 40px;
  margin-bottom: 7px;
}

.start_quiz {
  width: 193px;
  height: 52px;
  color: #F5F7FB;
  background: #4D5B9E;
  border: none;
  border-radius: 15px;
  margin-top: 1.5rem;
  cursor: pointer;
}

.questions--container {
  height: 100vh;
  width: 70%;
  margin: auto;
}

.questions {
  height: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.questions--question {
  width: 100%;
  border-bottom: 1px solid #DBDEF0;
}

.questions--question p {
  margin-bottom: 1rem;
  font-weight: 600;
  color: #293264;
  font-size: 18px;
  line-height: 25px;
}

.questions--question button {
  color: #293264;
  border: 1px solid #4D5B9E;
  border-radius: 8px;
  margin-right: 0.7rem;
  font-family: 'Inter';
  padding: 7px;
  font-size: 15px;
  margin-bottom: 7%;
  cursor: pointer;
}

.questions--question button:hover {
  background-color: #F5F7FB;
  box-shadow:1px 1px grey;
}

.check_answer {
  background: #4D5B9E;
  border-radius: 10px;
  border: none;
  width: 120px;
  height: 35px;
  text-align: center;
  color: #F5F7FB;
  font-size: 12px;
  cursor:pointer;
}

.bottom {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.chosen {
  background-color: #D6DBF5;
}

.not_chosen {
  background-color: white;
}

.show_correct {
  background-color: #94D7A2;
}

.show_incorrect {
  background-color: #F8BCBC;
}